body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.display {
    height: 200px;
    width: 600px;
    border: 5px solid orange;
}

.buttons-container {
    width: 600px;
    height: 800px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 5px solid orange;
}

button {
    height: 200px;
    width: 150px; /* 600 divided by 4 */
    cursor: pointer;
}