body {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 450px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5%;
}

.calculator-display {
    height: 150px;
    width: 400px;
    background-color: grey;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: flex-end;
}

.function-container > input {
    height: 70px;
    width: 100px;
    cursor: pointer;

}

.number-container > input {
    height: 100px;
    width: 100px;
    cursor: pointer; 
}

input:active {
    transform: scale(1.05);
}

[data-type="operator"] {
    background-color: orange;
    color: white;
}