body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    gap: 30px;
}
.display {
    height: 200px;
    width: 600px;
    border: 5px solid orange;
    border-radius: 30px;
    color: white;
    font-size: 160px;
}

.button-container {
    width: 600px;
    height: 800px;
    box-sizing: content-box;
    border: 5px solid orange;
    display: flex;
    flex-direction: column;
}


.button-container > form div {
    display: flex;
    flex-direction: row;
}

input {
    display: block;
    height: 200px;
    width: 150px; /* 600 divided by 4 */
    cursor: pointer;
} 